<div class="flex border bg-[#90C1DF] border-[#2b3467] rounded-md overflow-hidden h-64 mb-6 items-center justify-center">
  <div class="w-96 py-3 px-5 bg-[#2b3467] text-white h-64 border-r border-r-[#2b3467]">
    <app-quiz-details-stats [quiz]="quiz" class="w-full h-full"></app-quiz-details-stats>
  </div>

  <div class="button-container flex h-64 my-auto flex-1">
    <button class="text-3xl flex-1 font-semibold p-0 hover:bg-[ #90C1DF] transition-colors duration-300 border-4">
      <div>
        <i class="fa-solid fa-star text-[#2b3467] mb-1 text-4xl"></i>
      </div>
      <div class="font-bold text-[#2b3467]">Nombre clics erronés par question</div>
      <div class="text-white font-bold text-5xl">TODO</div>
    </button>

    <button class="text-3xl flex-1 font-semibold p-0 hover:bg-[ #90C1DF] transition-colors duration-300 border-4">
      <div>
        <i class="fa-solid fa-rotate-left text-[#2b3467] mb-1 text-4xl"></i>
      </div>
      <div class="font-bold text-[#2b3467]">Temps moyen par question</div>
      <div class="text-white font-bold text-5xl">TODO</div>
    </button>

    <button class="text-3xl flex-1 font-semibold p-0 hover:bg-[ #90C1DF] transition-colors duration-300 border-4">
      <div>
        <i class="fa-solid fa-percent text-[#2b3467] mb-1 text-4xl"></i>
      </div>
      <div class="font-bold text-[#2b3467]">Taux de réussite</div>
      <div class="text-white font-bold text-5xl">{{ successRate }}%</div>
    </button>

    <button class="text-3xl flex-1 font-semibold p-0 hover:bg-[ #90C1DF] transition-colors duration-300 border-4">
      <div>
        <i class="fa-solid fa-rotate-left text-[#2b3467] mb-1 text-4xl"></i>
      </div>
      <div class="font-bold text-[#2b3467]">Nombre d'essais</div>
      <div class="text-white font-bold text-5xl">{{ numberOfAttempts }}</div>
    </button>
  </div>
</div>
