<div>
  <app-navbar *ngIf="router.url !== '/' && router.url !== '/login' && !router.url.startsWith('/admin')"></app-navbar>
  
  <app-navbar-admin *ngIf="router.url.startsWith('/admin/')"></app-navbar-admin>

  <div *ngIf="
      router.url == '/tempo-register' ||
      router.url == '/profile' ||
      router.url.startsWith('/admin') ||
      router.url == '/'
    ">
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>

  <div *ngIf="
      router.url !== '/tempo-register' &&
      router.url !== '/profile' &&
      !router.url.startsWith('/admin') &&
      router.url !== '/'
    ">
    <div class="w-full h-screen overflow-hidden">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
