<div>
  <app-navbar *ngIf="router.url !== '/' && router.url !== '/login' && router.url!='/admin'"></app-navbar>
  <div *ngIf="
      router.url == '/tempo-register' ||
      router.url == '/profile' ||
      router.url.startsWith('/admin/') ||
      router.url == '/'
    ">
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>

  <div *ngIf="
      router.url !== '/tempo-register' &&
      router.url !== '/profile' &&
      !router.url.startsWith('/admin/') &&
      router.url !== '/'
    ">
    <div class="w-full h-screen overflow-hidden">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
