<div
  (click)="onClick()"
  class="h-full scale-50 transform rounded-t-lg bg-[#2B3467] dark:bg-[#2B3467] shadow-md duration-300 hover:scale-60 hover:shadow-lg justify-center items-center -m-7 -mb-9"
>
  <img
    class="h-36"
    src="{{ theme.image }}"
    alt="Theme Image"
  />
  <div class="-mt-1 items-center justify-between bg-[#2B3467] dark:bg-[#2B3467] pl-2 pb-1 rounded-b-lg text-center">
    <h2 class="text-2xl font-medium dark:text-[#EB455F] text-[#EB455F]">
      {{ theme.name }}
    </h2>
  </div>

</div>
