<div class="text-4xl pt-4 pb-4" *ngIf="this.answer.answer_text != undefined">
  <p class="text-[#EB455F] font-extrabold  inline-block" id="answer_letter">
    {{ this.letter }}
  </p>
  <p class="ml-2 text-[#2B3467] font-extrabold inline-block" id="answer_text">
    {{ this.answer.answer_text }}
  </p>
</div>

<div *ngIf="this.answer.answer_image != undefined" class="image" class="m-1" id="answer_image">
  <p class="text-[#EB455F] font-extrabold text-3xl inline-block">
    {{ this.letter }}
  </p>
  <img alt="img_reponse" class="rep_img" src="{{ this.answer.answer_image }}"/>
</div>
