<div class="w-full w-full py-10 px-5 md:px-10">
  <div class="text-center mb-10">
    <h1 class="font-bold text-3xl text-[#2B3467]">Créer Un Compte Résident</h1>
  </div>
  <form [formGroup]="residentForm">
    <!-- <div class="flex -mx-3">
      <div
        x-data="{photoName: null, photoPreview: null}"
        class="w-full px-3 mb-5"
      >
        <input
          type="file"
          class="hidden"
          x-ref="photo"
          [formControlName]="'avatar'"
          x-on:change="
                            photoName = $refs.photo.files[0].name;
                            const reader = new FileReader();
                            reader.onload = (e) => {
                                photoPreview = e.target.result;
                            };
                            reader.readAsDataURL($refs.photo.files[0]);
        "
        />

        <label for="" class="text-lg font-bold text-[#2B3467] px-1"
          >Image du résident</label
        >
        <div class="text-center">
          <div class="mt-2" x-show="! photoPreview">
            <img
              src="../../assets/images/defaultAvatar.png"
              class="w-40 h-40 m-auto rounded-full shadow"
            />
          </div>

          <div class="mt-2" x-show="photoPreview" style="display: none">
            <span
              class="block w-40 h-40 rounded-full m-auto shadow"
              x-bind:style="'background-size: cover; background-repeat: no-repeat; background-position: center center; background-image: url(\'' + photoPreview + '\');'"
              style="
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                background-image: url('null');
              "
            >
            </span>
          </div>
          <button
            type="button"
            class="inline-flex items-center px-4 py-2 bg-white border border-gray-300 rounded-md font-semibold text-xs text-gray-700 uppercase tracking-widest shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-400 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150 mt-2 ml-3"
            x-on:click.prevent="$refs.photo.click()"
          >
            Charger l'image
          </button>
        </div>
      </div>
    </div> -->

    <!-- Temporary Photo Input -->
    <div class="flex -mx-3">
      <div class="w-full px-3 mb-5">
        <label for="" class="text-lg font-bold text-[#2B3467] px-1"
          >Photo du résident</label
        >
        <div class="flex">
          <div
            class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"
          >
            <i class="fa-sharp fa-solid fa-image text-gray-400 text-lg"></i>
          </div>
          <input
            type="text"
            class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500"
            [formControlName]="'avatar'"
            placeholder="Entrez l'URL de la photo"
          />
        </div>
      </div>
    </div>

    <div class="flex -mx-3">
      <div class="w-full px-3 mb-5">
        <label for="" class="text-lg font-bold text-[#2B3467] px-1"
          >Nom du résident</label
        >
        <div class="flex">
          <div
            class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"
          >
            <i class="fa-regular fa-input-text text-gray-400 text-lg"></i>
          </div>
          <input
            type="text"
            [formControlName]="'lastName'"
            class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500"
            placeholder="John"
          />
        </div>
      </div>
      <div class="w-full px-3 mb-5">
        <label for="" class="text-lg font-bold text-[#2B3467] px-1"
          >Prénom du résident</label
        >
        <div class="flex">
          <div
            class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"
          >
            <i class="mdi mdi-account-outline text-gray-400 text-lg"></i>
          </div>
          <input
            type="text"
            [formControlName]="'firstName'"
            class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500"
            placeholder="Doe"
          />
        </div>
      </div>
    </div>
    <div class="flex -mx-3">
      <div class="w-full px-3 mb-5">
        <label for="" class="text-lg font-bold text-[#2B3467] px-1"
          >Sexe du résident</label
        >
        <div class="flex items-center">
          <div class="mr-4 rounded-md bg-indigo-200 p-2">
            <input
              type="radio"
              class="form-radio h-4 w-4 text-indigo-600 transition duration-150 ease-in-out"
              formControlName="sexe"
              name="sexe"
              value="feminin"
            />
            <label for="feminin" class="ml-2 text-sm text-gray-600"
              >Féminin</label
            >
          </div>
          <div class="mr-4 rounded-md bg-indigo-200 p-2">
            <input
              type="radio"
              class="form-radio h-4 w-4 text-indigo-600 transition duration-150 ease-in-out"
              formControlName="sexe"
              name="sexe"
              value="masculin"
            />
            <label for="masculin" class="ml-2 text-sm text-gray-600"
              >Masculin</label
            >
          </div>
        </div>
      </div>
    </div>

    <div class="flex -mx-3">
      <div class="w-full px-3 mb-5">
        <label for="symptome" class="text-lg font-bold text-[#2B3467] px-1"
          >Symptôme(s) du résident</label
        >
        <div class="flex items-center">
          <div
            class="mr-4 rounded-md bg-indigo-200 p-2"
            *ngFor="let symptome of symptomes"
          >
            <input
              type="checkbox"
              class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out"
              name="symptome"
              [value]="symptome.value"
              [checked]="symptome.checked"
              (change)="changeState(symptome.id)"
            />
            <label for="symptome" class="ml-2 text-sm text-gray-600">{{
              symptome.name
            }}</label>
          </div>
        </div>
      </div>
    </div>

    <div class="flex -mx-3">
      <div class="w-full px-3 mb-5">
        <label for="" class="text-lg font-bold text-[#2B3467] px-1"
          >Date de naissance du résident</label
        >
        <div class="flex">
          <div
            class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"
          >
            <i class="fa-regular fa-calendar-days text-gray-400 text-lg"></i>
          </div>
          <input
            type="date"
            [formControlName]="'dateOfBirth'"
            class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500"
            placeholder="01/01/1990"
          />
        </div>
      </div>
    </div>
    <div class="flex -mx-3">
      <div class="w-full px-3 mb-5">
        <label for="" class="text-lg font-bold text-[#2B3467] px-1"
          >Pseudonyme</label
        >
        <div class="flex">
          <div
            class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"
          >
            <i class="fa-solid fa-user text-gray-400 text-lg"></i>
          </div>
          <input
            type="text"
            [formControlName]="'userName'"
            class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500"
            placeholder="JohnDoe123"
          />
        </div>
      </div>
    </div>
    <div class="flex -mx-3">
      <div class="w-full px-3 mb-5">
        <label for="" class="text-lg font-bold text-[#2B3467] px-1"
          >Mot de passe</label
        >
        <div class="flex">
          <div
            class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"
          >
            <i class="fa-solid fa-lock text-gray-400 text-lg"></i>
          </div>
          <input
            type="password"
            [formControlName]="'password'"
            class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500"
            placeholder="************"
          />
        </div>
      </div>
    </div>

    <div class="flex -mx-3">
      <div class="w-full px-3 mb-5">
        <label for="" class="text-lg font-bold text-[#2B3467] px-1"
          >Confirmer le mot de passe</label
        >
        <div class="flex">
          <div
            class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"
          >
            <i class="fa-solid fa-lock text-gray-400 text-lg"></i>
          </div>
          <input
            type="password"
            class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500"
            placeholder="************"
          />
        </div>
      </div>
    </div>
    <!-- TODO: Error if confirmPassword is not the same as Password or not have enough characters -->

    <div class="flex -mx-3">
      <div class="w-full px-3 mb-5">
        <button
          class="block w-full max-w-xs mx-auto text-xl bg-indigo-800 focus:bg-indigo-600 text-white rounded-lg px-3 py-2 font-semibold hover:bg-indigo-900 focus:outline-none focus:shadow-outline"
          (click)="addResident()"
        >
          Enregistrer
        </button>
      </div>
    </div>
  </form>
</div>
