<div *ngFor="let quiz of quizList;" class="flex justify-center">
  <div class="flex border bg-[#90C1DF] border-[#2b3467] border-8 rounded-md overflow-hidden h-64 mb-6 items-center justify-center w-4/5">
    <div class="w-96 py-3 px-5 bg-[#2b3467] text-white h-64 border-r border-r-[#2b3467]">
      <app-quiz-details-stats [quiz]="quiz" class="w-full h-full"></app-quiz-details-stats>
    </div>
    <div class="button-container flex h-64 my-auto flex-1">
      <button class="text-2xl flex-1 font-semibold p-0 hover:bg-[ #90C1DF] transition-colors duration-300 border-4 pointer-events-none">
        <div>
          <i class="fa-solid fa-people-group text-[#2b3467] mb-1 text-3xl"></i>
        </div>
        <div class="font-bold text-[#2b3467]">Participants</div>
        <div class="text-white font-bold text-5xl">{{ participantCounts[quiz.id] }}</div>
      </button>
      <button class="text-2xl flex-1 font-semibold p-0 hover:bg-[ #90C1DF] transition-colors duration-300 border-4 pointer-events-none">
        <div>
          <i class="fa-solid fa-percent text-[#2b3467] mb-1 text-3xl"></i>
        </div>
        <div class="font-bold text-[#2b3467]">Taux de réussite</div>
        <div class="text-white font-bold text-5xl"> {{ totalWinrate[quiz.id] }}</div>
      </button>

      <button class="text-2xl flex-1 font-semibold p-0 hover:bg-[ #90C1DF] transition-colors duration-300 border-4 pointer-events-none">
        <div>
          <i class="fa-solid fa-rotate-left text-[#2b3467] mb-1 text-3xl"></i>
        </div>
        <div class="font-bold text-[#2b3467]">Nombre d'essaies</div>
        <div class="text-white font-bold text-5xl">{{totalTries[quiz.id] }}</div>
      </button>

      <button class="text-3xl flex-1 font-semibold p-0 bg-[#2B3467] transition-colors duration-300 border-4" (click)="modifQuiz(quiz.id)" >
        <div>
          <i class="fa-solid fa-edit text-[#EB455F] mb-1 text-5xl"></i>
        </div>
        <div class="font-bold text-white">Modifier</div>
      </button>
    </div>
  </div>
</div>
