<dialog class="relative w-1/4 mx-auto rounded-lg border border-4 border-[#2B3467]">
  <div class="absolute top-2 right-2">
    <button class="flex items-center justify-center w-10 h-10 rounded-full bg-gray-200 hover:bg-[#2B3467] focus:outline-none transition-colors duration-300"
      type="button" (click)="closeDialog()">
      <i class="fas fa-times text-3xl text-[#EB455F]"></i>
    </button>
  </div>
  <div class="mt-5 flex items-center justify-center text-3xl font-bold text-[#EB455F]">Créer Thème</div>
  <div class="mt-2">
    <app-add-theme></app-add-theme>
  </div>
</dialog>
