#question {
  width: 100%;
  height: 88.596%;
  background-color: #2B3467;
  border-radius: 12px 12px 0 0;
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  color: #fff;
  line-height: 1.2;
}

button {
  width: 100%;
  height: 11.404%;
  background-color: #BAD7E9;
  border-radius: 12px;
  text-align: left;
}

p {
  display: inline-block;
  text-align: left;
  font-size: 2em;
  line-height: 1.2;
  padding: 10px 50px 20px 10px;
}

.letter {
  color: #EB455F;
  font-weight: bolder;
}

.rep {
  color: #2B3467;
  font-weight: bold;
}

h1 {
  font-size: 2em;
  text-align: left;
  padding-top: 2%;
  margin-left: 2%;

}

li {
    display: inline-block;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}

ul{
    padding-top: auto;
}
