ul{
    list-style-type: none;
    display: inline-block;
    margin-left: 30px;
    li{
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
    }
}

div{
    display: inline-block;

}

h1{
    font-family: "roboto", sans-serif;
}

.rectangle{
    position: absolute;
    background-color: #2104ff31;
    border-radius: 7px;
    height: 160px;
    width: 50px;
    top: 175px;
}

.rectangle p {
    position: relative;
    font-size: 100px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    padding-top: 20px;
    width: 50%;
    overflow: hidden;
    text-align: center;
}

#left p {
    padding-left: 10px;
}


#right p {
    padding-right: 40px;
    margin-left: -20px;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}

#left{
    left:15px;
}

#right{
    right: 15px;
}