<form [formGroup]="themeForm" (ngSubmit)="submitted = true" class="w-full max-w-sm mx-auto">
  <div class="mb-4">
    <label for="themeName" class="block text-[#2B3467] text-xl font-bold mb-2">Nom du thème</label>
    <input type="text" id="themeName" class="form-input p-4 mt-1 block w-full border-[#2B3467] border-2 rounded-md shadow-sm focus:ring-[#2B3467] focus:border-[#2B3467]" formControlName="themeName" required placeholder="Entrez le nom du thème">
    <div *ngIf="themeForm.get('themeName').invalid && (themeForm.get('themeName').touched || submitted)" class="text-red-500 text-xl mt-1">
      Le nom du thème est requis
    </div>
  </div>

  <div class="mb-10">
    <label for="themeImage" class="block text-[#2B3467] text-xl font-bold mb-2">Image du thème</label>
    <input type="text" id="themeImage" class="form-input p-4 mt-1 block w-full border-[#2B3467] border-2 rounded-md shadow-sm focus:ring-[#2B3467] focus:border-[#2B3467]" formControlName="themeImage" required placeholder="Entrez URL d'image">
    <div *ngIf="themeForm.get('themeImage').invalid && (themeForm.get('themeImage').touched || submitted)" class="text-red-500 text-xl mt-1">
      Image du thème est requise
    </div>
  </div>

  <div class="flex justify-center">
    <button type="submit" (click)="addTheme()" [disabled]="themeForm.invalid" class="block w-full max-w-xs mx-auto text-2xl bg-indigo-800 focus:bg-indigo-600 text-white rounded-lg px-5 py-5 font-semibold hover:bg-indigo-900 focus:outline-none focus:shadow-outline disabled:opacity-50">Ajouter Thème</button>
  </div>
</form>
