<div class="md:flex w-full">
  <!-- Left Side -->
  <div class="md:w-1/5 bg-[#BAD7E9] border-r hidden md:block fixed h-screen">
    <div class="flex flex-col justify-between items-center h-full w-full">
      <img
        src="../../assets/images/Poly.png"
        class="w-40 h-40 rounded-full shadow flex-none"
      />
      <ul
        class="w-full h-full flex flex-col justify-center items-center flex-grow"
      >
        <li
          class="w-full h-1/3 flex-grow"
          (click)="loadTabComponent('RESIDENT')"
          id="resident-btn"
        >
          <button
            class="tab-button w-full h-full px-4 py-2 my-2 bg-[#BAD7E9] shadow-lg rounded-md text-[#2B3467] font-bold flex flex-col items-center justify-center cursor-pointer transition-colors duration-300 hover:bg-[#2B3467] focus:outline-none focus:shadow-outline"
            data-tab="RESIDENT"
          >
            <i
              class="fa-sharp fa-solid fa-hospital-user text-6xl align-middle"
              [ngClass]="{
                'text-[#EB455F]': currentTab === 'RESIDENT',
                'text-[#2B3467]': currentTab !== 'RESIDENT'
              }"
              *ngIf="currentTab !== 'RESIDENT'"
            ></i>
            <i
              class="fa-sharp fa-solid fa-hospital-user text-6xl align-middle"
              [ngClass]="{ 'text-[#EB455F]': currentTab === 'RESIDENT' }"
              *ngIf="currentTab === 'RESIDENT'"
            ></i>
            <span
              class="font-semibold align-middle text-4xl"
              [ngClass]="{
                'text-[#EB455F]': currentTab === 'RESIDENT',
                'text-[#2B3467]': currentTab !== 'RESIDENT'
              }"
              *ngIf="currentTab !== 'RESIDENT'"
              >Mes résidents</span
            >
            <span
              class="font-semibold align-middle text-4xl"
              [ngClass]="{ 'text-white': currentTab === 'RESIDENT' }"
              *ngIf="currentTab === 'RESIDENT'"
              >Mes résidents</span
            >
          </button>
        </li>

        <li
          class="w-full h-1/3 flex-grow"
          (click)="loadTabComponent('GESTION_QUIZ')"
          id="gestion-quiz-btn"
        >
          <button
            class="tab-button w-full h-full px-4 py-2 my-2 bg-[#BAD7E9] shadow-lg rounded-md text-[#2B3467] font-bold flex flex-col items-center justify-center cursor-pointer transition-colors duration-300 hover:bg-[#2B3467] focus:outline-none focus:shadow-outline"
            data-tab="GESTION_QUIZ"
          >
            <i
              class="fa-sharp fa-solid fa-pen text-6xl align-middle"
              [ngClass]="{
                'text-[#EB455F]': currentTab === 'GESTION_QUIZ',
                'text-[#2B3467]': currentTab !== 'GESTION_QUIZ'
              }"
              *ngIf="currentTab !== 'GESTION_QUIZ'"
            ></i>
            <i
              class="fa-sharp fa-solid fa-pen text-6xl align-middle"
              [ngClass]="{ 'text-[#EB455F]': currentTab === 'GESTION_QUIZ' }"
              *ngIf="currentTab === 'GESTION_QUIZ'"
            ></i>
            <span
              class="font-semibold align-middle text-4xl"
              [ngClass]="{
                'text-[#EB455F]': currentTab === 'GESTION_QUIZ',
                'text-[#2B3467]': currentTab !== 'GESTION_QUIZ'
              }"
              *ngIf="currentTab !== 'GESTION_QUIZ'"
              >Gestion Quiz</span
            >
            <span
              class="font-semibold align-middle text-4xl"
              [ngClass]="{ 'text-white': currentTab === 'GESTION_QUIZ' }"
              *ngIf="currentTab === 'GESTION_QUIZ'"
              >Gestion Quiz</span
            >
          </button>
        </li>

        <li
          class="w-full h-1/3 flex-grow"
          (click)="loadTabComponent('QUIZ')"
          id="result-btn"
        >
          <button
            class="tab-button w-full h-full px-4 py-2 my-2 bg-[#BAD7E9] shadow-lg rounded-md text-[#2B3467] font-bold flex flex-col items-center justify-center cursor-pointer transition-colors duration-300 hover:bg-[#2B3467] focus:outline-none focus:shadow-outline"
            data-tab="QUIZ"
          >
            <i
              class="fa-solid fa-puzzle-piece text-6xl align-middle"
              [ngClass]="{
                'text-[#EB455F]': currentTab === 'QUIZ',
                'text-[#2B3467]': currentTab !== 'QUIZ'
              }"
              *ngIf="currentTab !== 'QUIZ'"
            ></i>

            <i
              class="fa-solid fa-puzzle-piece text-6xl align-middle"
              [ngClass]="{ 'text-[#EB455F]': currentTab === 'QUIZ' }"
              *ngIf="currentTab === 'QUIZ'"
            ></i>

            <span
              class="font-semibold align-middle text-4xl"
              [ngClass]="{
                'text-[#EB455F]': currentTab === 'QUIZ',
                'text-[#2B3467]': currentTab !== 'QUIZ'
              }"
              *ngIf="currentTab !== 'QUIZ'"
              >Quiz</span
            >

            <span
              class="font-semibold align-middle text-4xl"
              [ngClass]="{ 'text-white': currentTab === 'QUIZ' }"
              *ngIf="currentTab === 'QUIZ'"
              >Quiz</span
            >
          </button>
        </li>
        <li
          class="w-full h-1/3 flex-grow"
          (click)="loadTabComponent('RESULTAT')"
          id="result-btn"
        >
          <button
            class="tab-button w-full h-full px-4 py-2 my-2 bg-[#BAD7E9] shadow-lg rounded-md text-[#2B3467] font-bold flex flex-col items-center justify-center cursor-pointer transition-colors duration-300 hover:bg-[#2B3467] focus:outline-none focus:shadow-outline"
            data-tab="RESULTAT"
          >
            <i
              class="fa-sharp fa-solid fa-trophy text-6xl align-middle"
              [ngClass]="{
                'text-[#EB455F]': currentTab === 'RESULTAT',
                'text-[#2B3467]': currentTab !== 'RESULTAT'
              }"
              *ngIf="currentTab !== 'RESULTAT'"
            ></i>
            <i
              class="fa-sharp fa-solid fa-trophy text-6xl align-middle"
              [ngClass]="{ 'text-[#EB455F]': currentTab === 'RESULTAT' }"
              *ngIf="currentTab === 'RESULTAT'"
            ></i>
            <span
              class="font-semibold align-middle text-4xl"
              [ngClass]="{
                'text-[#EB455F]': currentTab === 'RESULTAT',
                'text-[#2B3467]': currentTab !== 'RESULTAT'
              }"
              *ngIf="currentTab !== 'RESULTAT'"
              >Mes résultats</span
            >
            <span
              class="font-semibold align-middle text-4xl"
              [ngClass]="{ 'text-white': currentTab === 'RESULTAT' }"
              *ngIf="currentTab === 'RESULTAT'"
              >Mes résultats</span
            >
          </button>
        </li>

        <li
          class="w-full h-1/3 flex-grow"
          (click)="loadTabComponent('PARAMETRES')"
          id="param-btn"
        >
          <button
            class="tab-button w-full h-full px-4 py-2 my-2 bg-[#BAD7E9] shadow-lg rounded-md text-[#2B3467] font-bold flex flex-col items-center justify-center cursor-pointer transition-colors duration-300 hover:bg-[#2B3467] focus:outline-none focus:shadow-outline"
            data-tab="PARAMETRES"
          >
            <i
              class="fa fa-cog text-6xl align-middle"
              [ngClass]="{
                'text-[#EB455F]': currentTab === 'PARAMETRES',
                'text-[#2B3467]': currentTab !== 'PARAMETRES'
              }"
              *ngIf="currentTab !== 'PARAMETRES'"
            ></i>
            <i
              class="fa fa-cog text-6xl align-middle"
              [ngClass]="{ 'text-[#EB455F]': currentTab === 'PARAMETRES' }"
              *ngIf="currentTab === 'PARAMETRES'"
            ></i>
            <span
              class="font-semibold align-middle text-4xl"
              [ngClass]="{
                'text-[#EB455F]': currentTab === 'PARAMETRES',
                'text-[#2B3467]': currentTab !== 'PARAMETRES'
              }"
              *ngIf="currentTab !== 'PARAMETRES'"
              >Paramètres</span
            >
            <span
              class="font-semibold align-middle text-4xl"
              [ngClass]="{ 'text-white': currentTab === 'PARAMETRES' }"
              *ngIf="currentTab === 'PARAMETRES'"
              >Paramètres</span
            >
          </button>
        </li>
      </ul>
    </div>
  </div>

  <!-- Right Side -->
  <div class="md:w-4/5 h-screen bg-[#FCFFE7]"  style="margin-left: 20%;">
      <nav
      class="flex bg-[#FCFFE7] items-center relative justify-between m-1 w-full"
    >
      <div (click)="helpPopup()">
        <button
          class="flex items-center w-full px-6 py-6 m-0 font-bold text-[#2B3467] text-5xl bg-[#BAD7E9] rounded-md hover:bg-[#2B3467] focus:outline-none focus:shadow-outline"
          type="button"
          onmouseover="$(this).find('i').css('color', '#EB455F'); $(this).find('div').css('color', '#FCFFE7');"
          onmouseout="$(this).find('i').css('color', '#2B3467'); $(this).find('div').css('color', '#2B3467');"
        >
          <i class="fa-regular fa-circle-question text-[#2B3467] text-5xl"></i>
          <div class="m-1">Aide</div>
        </button>
      </div>

      <div class="flex items-center py-2 mr-2" (click)="navigateProfile()">
        <img
          src="{{ this.user.avatar }}"
          class="rounded-full border-4 object-center object-cover border-[#BAD7E9] mr-2 h-32 w-32"
        />
        <p class="text-3xl font-bold text-[#2B3467] mt-1">
          {{ this.user.firstName }} {{ this.user.lastName }}
        </p>
      </div>
    </nav>
    <!-- Begin of RightSide (Quiz, Parameters or Mes Resultats)-->
    <ng-container *ngComponentOutlet="selectedComponent"></ng-container>
    <!-- End of RightSide-->
  </div>
</div>
