<form [formGroup]="passwordForm" (ngSubmit)="updateProfile()" class="container mx-auto justify-between items-center">
  <div class="mb-4">
    <label for="newPassword" class="block text-[#2B3467] text-xl font-bold mb-2">Nouveau mot de passe</label>
    <input type="password" id="newPassword" class="form-input p-4 mt-1 block w-full border-[#2B3467] border-2 rounded-md shadow-sm focus:ring-[#2B3467] focus:border-[#2B3467]" formControlName="newPassword" required placeholder="Entrez votre nouveau mot de passe">
    <div *ngIf="passwordForm.get('newPassword').hasError('minlength') && (passwordForm.get('newPassword').touched || submitted)" class="text-red-500 text-xl mt-1">
      Le mot de passe doit avoir au moins 5 caractères.
    </div>
  </div>

  <div class="mb-10">
    <label for="confirmPassword" class="block text-[#2B3467] text-xl font-bold mb-2">Confirmez le mot de passe</label>
    <input type="password" id="confirmPassword" class="form-input p-4 mt-1 block w-full border-[#2B3467] border-2 rounded-md shadow-sm focus:ring-[#2B3467] focus:border-[#2B3467]" formControlName="confirmPassword" required placeholder="Confirmez votre nouveau mot de passe">
    <div *ngIf="passwordForm.get('confirmPassword').invalid && (passwordForm.get('confirmPassword').touched || submitted)" class="text-red-500 text-xl mt-1">
      La confirmation du mot de passe est requise
    </div>
    <div *ngIf="passwordForm.hasError('passwordMatch') && (passwordForm.get('confirmPassword').touched || submitted)" class="text-red-500 text-xl mt-1">
      Les mots de passe ne correspondent pas
    </div>
  </div>

  <div class="flex justify-center">
    <button type="submit" [disabled]="passwordForm.invalid" class="block w-full max-w-xs mx-auto text-2xl bg-indigo-800 focus:bg-indigo-600 text-white rounded-lg px-5 py-5 font-semibold hover:bg-indigo-900 focus:outline-none focus:shadow-outline disabled:opacity-50">Mettre à jour le profil</button>
  </div>
</form>
