body {
  background-color: #90c1df;
  text-align: center;
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 50vh;
  max-width: 800px;
}

.profile-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  box-sizing: border-box;
}

.inline-spans {
  color: grey;
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
  text-align: left;
  margin-top: 0;
}

.inline-spans-bold {
  display: inline-flex;
  font-weight: bold;
  align-items: center;
  margin-left: 10px;
  text-align: left;
  margin-top: 0;
}

.logout-button {
  color: #eb455f;
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.statistics-header {
  color: #2b3467;
  font-size: 24px;
  font-weight: bold;
}

.score {
  color: white;
  background-color: #eb455f;
  padding: 5px;
  font-weight: bold;
  display: inline-block;
  margin-top: 20px;
}

h1 {
  color: #3d405b;
  font-size: 20pt;
  font-weight: 1000;
}
