<!DOCTYPE html>
<html>
<head>
	<title>Profil</title>
	<link rel="stylesheet" type="text/css" href="./user-profile.component.scss">
</head>
<body>
    <h1>Profil Utilisateur</h1>

	<div class="container" style = "margin-top: 50px;">
		<div>
			<img src="https://i.skyrock.net/2767/78482767/pics/3003501197_1_17_pcYvNJKc.png" alt="Profile Picture" class="profile-image">
		</div>
		<div style = "margin-top: 20px;">
			<h1>Geko Moria</h1>
		</div>
		<div style = "margin-top: 20px;">
			<button class="logout-button">Se Déconnecter</button>
		</div>
		<div style="display: flex; justify-content: space-between; margin-top: 20px;">
			<div style="background-color: white; margin-right: 10px; display: flex; align-items: center; padding: 10px;">
				<img src="https://cdn-icons-png.flaticon.com/512/3004/3004600.png" alt="Date de Naissance" width="50" height="50" class="inline-spans" style="margin-right: 10px;">
				<div>
					<span class="inline-spans-bold">Date de Naissance:</span>
					<br>
					<span class="inline-spans">20 Septembre 1930 </span>
				</div>
			</div>

			<div style="background-color: white; display: flex; flex: 1; align-items: center; padding: 10px;">
				<img src="https://cdn-icons-png.flaticon.com/512/2545/2545910.png" alt="Genre" width="50" height="50" class="inline-spans" style="margin-right: 10px;">
				<div>
					<span class="inline-spans-bold">Genre:</span>
					<br>
					<span class="inline-spans">Homme</span>
				</div>
			</div>
		</div>
		<div style = "margin-top: 20px;">
			<h2 class="statistics-header">Statistics</h2>
        </div>
		<div style="background-color: #eb455f; padding: 10px;">
			<div style="display: flex; align-items: center;">
				<img src="https://cdn-icons-png.flaticon.com/512/126/126482.png" alt="Genre" width="20" height="20" class="inline-spans" style="vertical-align: middle; margin-right: 10px; margin-bottom: -15px;">
				<span class="score">Score: 5600</span>
			</div>
			<div style="display: flex; align-items: center; margin-top: 10px;">
				<img src="https://cdn-icons-png.flaticon.com/512/44/44908.png?w=360" alt="Genre" width="20" height="20" class="inline-spans" style="vertical-align: middle; margin-right: 10px; margin-bottom: -15px;">
				<span class="score">Taux de réussite: 85%</span>
			</div>
		</div>
	</div>
</body>
</html>
