<ng-container
  *ngIf="
    quiz !== undefined &&
    quiz.questions !== undefined &&
    isLastQuestion() == false
  "
>
  <div id="base">
    <h1 class="text-[#EB455F] font-bold justify-center text-center text-3xl" id="quiz_name">
      {{ quiz.name }}
    </h1>
    <div class="progress_case">
      <div class="progress">
        <div
          class="progress_bar"
          role="progressbar"
          [style.width]="((compteur+1) / quiz.questions.length) * 100 + '%'"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
          id = "progress_bar"
        ></div>
      </div>
      <div class="progression" id="progression_count">
        <p>{{ compteur+1 }}/{{ quiz.questions.length }}</p>
      </div>
    </div>
    <div class="h-screen">
      <div class="h-full">
        <app-game-question
          [question]="quiz.questions[compteur]"
          (selectAnswer)="checkAnswer($event)"
          id = "game_question"
        ></app-game-question>
      </div>
    </div>
  </div>
</ng-container>
