<help-modal></help-modal>

<dialog class="relative w-3/4 mx-auto rounded-lg border border-4 border-[#2B3467]">
  <div class="absolute top-2 right-2">
    <button class="flex items-center justify-center w-24 h-24 rounded-full bg-gray-200 hover:bg-[#2B3467] focus:outline-none transition-colors duration-300"
      type="button" (click)="closeDialog()">
      <i class="fas fa-times text-6xl text-[#EB455F]"></i>
    </button>
  </div>
  <div class="mt-20">
    <app-user-options-screen></app-user-options-screen>
  </div>
</dialog>

<nav
  class="flex bg-[#BAD7E9] items-center relative justify-between pl-3 rounded-md"
>
  <button >
    <img
      src="../../assets/images/Poly.png"
      class="h-24 rounded-full shadow flex-none"
      (click)="navigateMain()"
    />
  </button>
  <div (click)="helpPopup()">
    <button
      class="flex flex-col items-center h-full px-8 py-1 m-0 font-bold text-[#2B3467] text-xl bg-[#90C1DF] rounded-md hover:bg-[#2B3467] focus:outline-none focus:shadow-outline transition-colors duration-300"
      type="button"
      onmouseover="$(this).find('i').css('color', '#EB455F'); $(this).find('div').css('color', '#FCFFE7');"
      onmouseout="$(this).find('i').css('color', '#2B3467'); $(this).find('span').css('color', '#2B3467');"
    >
      <i class="fa-regular fa-circle-question text-[#2B3467] text-2xl"></i>
      <div class="m-1">Aide</div>
    </button>
  </div>
  <div (click)="navigateSettings()">
    <button
      class="flex flex-col items-center h-full px-8 py-1 m-0 font-bold text-[#2B3467] text-xl bg-[#90C1DF] rounded-md hover:bg-[#2B3467] focus:outline-none focus:shadow-outline transition-colors duration-300"
      type="button"
      onmouseover="$(this).find('i').css('color', '#EB455F'); $(this).find('div').css('color', '#FCFFE7');"
      onmouseout="$(this).find('i').css('color', '#2B3467'); $(this).find('span').css('color', '#2B3467');"
    >
      <i class="fa fa-cog text-3xl align-middle text-[#2B3467]"></i>
      <div class="m-1">Paramètres</div>
    </button>
  </div>
  <div class="flex items-center py-2 mr-2 btn" (click)="navigateProfile()">
    <img
      src="{{this.user.avatar}}"
      class="rounded-full border-4 object-center object-cover border-[#BAD7E9] mr-2 w-24"
    />
    <p class="text-xl font-bold text-[#2B3467] mt-1">{{this.user.firstName}} {{this.user.lastName}}</p>
  </div>
</nav>
