<nav
  class="flex bg-[#BAD7E9] items-center relative justify-between pl-2 rounded-md"
>
  <button >
    <img
      src="../../assets/images/Poly.png"
      class="h-16 rounded-full shadow flex-none"
      (click)="navigateMain()"
    />
  </button>
  <div>
    <button
      class="flex flex-col items-center h-full px-4 m-0 font-bold text-[#2B3467] text-lg bg-[#90C1DF] rounded-md hover:bg-[#2B3467] focus:outline-none focus:shadow-outline transition-colors duration-300"
      type="button"
      onmouseover="$(this).find('i').css('color', '#EB455F'); $(this).find('div').css('color', '#FCFFE7');"
      onmouseout="$(this).find('i').css('color', '#2B3467'); $(this).find('span').css('color', '#2B3467');"
    >
      <i class="fa-regular fa-circle-question text-[#2B3467] text-2xl"></i>
      <div class="m-1">Aide</div>
    </button>
  </div>
  <div>
    <button
      class="flex flex-col items-center h-full px-4 m-0 font-bold text-[#2B3467] text-lg bg-[#90C1DF] rounded-md hover:bg-[#2B3467] focus:outline-none focus:shadow-outline transition-colors duration-300"
      type="button"
      onmouseover="$(this).find('i').css('color', '#EB455F'); $(this).find('div').css('color', '#FCFFE7');"
      onmouseout="$(this).find('i').css('color', '#2B3467'); $(this).find('span').css('color', '#2B3467');"
    >
      <i class="fa fa-cog text-3xl align-middle text-[#2B3467]"></i>
      <div class="m-1">Paramètres</div>
    </button>
  </div>
  <div class="flex items-center py-2 mr-2 btn" (click)="navigateProfile()">
    <img
      src="https://cdn4.iconfinder.com/data/icons/occupation-and-people-avatar-vol-2-2/128/man_avatar_user_old_people_senior_elderly-512.png"
      class="rounded-full border-4 object-center object-cover border-[#BAD7E9] mr-2 w-16"
    />
    <p class="text-lg font-bold text-[#2B3467] mt-1">John Doe</p>
  </div>
</nav>
