.quiz {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    background-color: #09004c;
    border-radius: 12px;
    box-shadow: #09004c 0px 0px 10px 0px;
    height: 160px;
    width: 200px;
}

.quiz img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 10px;
}

p{
    padding-left: 2%;
    margin-bottom: -3.5%;
    white-space: nowrap;
}

.name {
    font-size: 1.2rem;
    font-weight: bold;
}

.theme {
    font-size: 1rem;
    font-weight: lighter;
    font-style: italic;
}

.questions {
    font-size: 1rem;
}

button{
    text-align: left;
}