::ng-deep .carousel-arrow {
  background-color: #bad7e9 !important;
  width: 6% !important;
  height: 80% !important;
  border-radius: 0 !important;
  position: absolute;
  transform: translate(-5%, -35%);
}
