div{
    position: relative;
    display: inline-block;
    text-align: left;
    font-size: 2em;
    line-height: 1.2;
    margin-top: -7vh;
    margin-bottom: 7vh;
    width: 25vw;
    padding: 10px 50px 20px 10px;
    background-color: #BAD7E9;
    border-radius: 12px;
    text-align: left;
}

.image{
    position: relative;
    display: inline-block;
    text-align: left;
    font-size: 2em;
    line-height: 1.2;
    margin-top: -20vh;
    margin-bottom: 0;
    width: 25vw;
    height: 25vh;
    padding: 10px 50px 20px 10px;
    background-color: #BAD7E9;
    border-radius: 12px;
    text-align: left;
}


img {
    margin-left: 1.5em;
    display: inline-block;
    height: auto;
}

.letter{
    display: inline-block;
    color: #EB455F;
    font-weight: bolder;
}

#img .letter {
    position: absolute;
    height: 10vh;
}
  

.rep {
    color: #2B3467;
    font-weight: bold;
    display: inline-block;
}

.rep_img{
    display: inline-block;
    height: 10vh;
    margin-top: -10%;
    width: 90%;
    height: 90%;
    margin-left: 1.5em;
}
