<div class="w-full mt-4" style="display: flex; justify-content: space-between">
  <div>
    <span class="text-2xl font-bold text-[#2B3467] ml-2">Filtres: </span>
    <button class="bg-[#90C1DF] text[#2B3467] px-2 py-6 rounded my* text-xl font-bold" (click)="openDifficultyFilter()">
      <i class="fa-solid fa-stairs text-2xl mr-1"></i> {{ selectedDifficulty }}
    </button>
    <button class="mx-3 bg-[#90C1DF] text[#2B3467] px-2 py-6 rounded text-xl font-bold" (click)="openDoneFilter()">
      <i class="fa-solid fa-check-circle text-2xl mr-1"></i> {{ selectedDone }}
    </button>
    <button class="bg-[#90C1DF] text[#2B3467] px-2 py-6 rounded text-xl font-bold" (click)="openThemeFilter()">
      <i class="fa-solid fa-palette text-2xl mr-1"></i> {{ selectedTheme }}
    </button>
    <button class="mx-3 bg-[#90C1DF] text[#2B3467] px-2 py-6 rounded text-xl font-bold" (click)="openDurationFilter()">
      <i class="fa-solid fa-clock text-2xl mr-1"></i> {{ selectedDuration }}
    </button>
  </div>
  <div>
    <button class="bg-red-500 text-white px-2 py-6 rounded text-xl font-bold" (click)="resetFilters()">
      <i class="fa-solid fa-sync-alt text-2xl mr-1"></i> Réinitialiser
    </button>
    <button class="mx-3 bg-[#2B3467] text-white px-2 py-6 rounded text-xl font-bold" (click)="randomQuiz()">
      <i class="fa-solid fa-random text-2xl mr-1 text-[#EB455F]"></i> Quiz Aléatoire
    </button>
  </div>
</div>

<div class="quiz-container h-3/4 -mt-2">
  <div class="pagination h-3/5">
    <button class="pagination-button" [ngClass]="{'enabled': currentPage !== 1, 'disabled': currentPage === 1}" (click)="prevPage()" [disabled]="currentPage === 1" >
      <i class="fa-solid fa-arrow-left text-5xl"></i>
    </button>
  </div>

  <ul>
    <li *ngFor="let quiz of filteredQuizList; let i = index" class="my-4" [ngStyle]="{'display': i >= (currentPage - 1) * pageSize && i < currentPage * pageSize ? 'block' : 'none'}">
      <app-quiz-details
        [quiz]="quiz"
        [played]="hasPlayedQuiz(quiz.id)"
        class="w-80 sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 h-auto"
      ></app-quiz-details>
    </li>
  </ul>



  <div class="pagination h-3/5">
    <button class="pagination-button" [ngClass]="{'enabled': currentPage * pageSize < quizList.length, 'disabled': currentPage * pageSize >= quizList.length}" (click)="nextPage()" [disabled]="currentPage * pageSize >= quizList.length">
      <i class="fa-solid fa-arrow-right text-5xl"></i>
    </button>
  </div>
</div>
