<div class="w-full mt-4" style="display: flex; justify-content: space-between">
  <div>
    <span class="text-2xl font-bold text-[#2B3467] ml-2">Filtres: </span>
    <button class="bg-[#90C1DF] text[#2B3467] px-2 py-6 rounded my* text-xl font-bold" (click)="openDifficultyFilter()">
      <i class="fa-solid fa-stairs text-2xl mr-1"></i> {{ selectedDifficulty }}
    </button>
    <button class="mx-3 bg-[#90C1DF] text[#2B3467] px-2 py-6 rounded text-xl font-bold" (click)="openDoneFilter()">
      <i class="fa-solid fa-check-circle text-2xl mr-1"></i> {{ selectedDone }}
    </button>
    <button class="bg-[#90C1DF] text[#2B3467] px-2 py-6 rounded text-xl font-bold" (click)="openThemeFilter()">
      <i class="fa-solid fa-palette text-2xl mr-1"></i> {{ selectedTheme }}
    </button>
    <button class="mx-3 bg-[#90C1DF] text[#2B3467] px-2 py-6 rounded text-xl font-bold" (click)="openDurationFilter()">
      <i class="fa-solid fa-clock text-2xl mr-1"></i> {{ selectedDuration }}
    </button>
    <div class="pagination">
      <button class="pagination-button" (click)="prevPage()" [disabled]="currentPage === 1"> <i class="fa-solid fa-arrow-left"> </i>
      </button>
      <span class="mx-3 text-#2B3467 px-2 py-6 rounded text-xl font-bold">Page {{currentPage}}</span>
      <button class="pagination-button" (click)="nextPage()" [disabled]="currentPage * pageSize >= quizList.length"> <i class="fa-solid fa-arrow-right"> </i>
      </button>
    </div>
  </div>
  <div>
    <button class="bg-red-500 text-white px-2 py-6 rounded text-xl font-bold" (click)="resetFilters()">
      <i class="fa-solid fa-sync-alt text-2xl mr-1"></i> Réinitialiser
    </button>
    <button class="mx-3 bg-[#2B3467] text-white px-2 py-6 rounded text-xl font-bold" (click)="randomQuiz()">
      <i class="fa-solid fa-random text-2xl mr-1 text-[#EB455F]"></i> Quiz Aléatoire
    </button>
  </div>
</div>

  <ul>
    <li *ngFor="let quiz of quizList; let i = index" class="my-4" [ngStyle]="{'display': i >= (currentPage - 1) * pageSize && i < currentPage * pageSize ? 'block' : 'none'}">
      <app-quiz-details
        [quiz]="quiz"
        [played]="hasPlayedQuiz(quiz.id)"
      ></app-quiz-details>
    </li>
  </ul>
