.quiz-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
}

li {
  flex-basis: calc(33.3333% - 20px);
  box-sizing: border-box;
  margin-bottom: 0;
}

.pagination:first-child .pagination-button {
  margin-right: 20px;
}

.pagination:last-child .pagination-button {
  margin-left: 20px;
}

.pagination-button {
  padding: 100px 12px;
  border: none;
  border-radius: 4px;
  font-size: 38px;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  vertical-align: middle;
  height: 100%;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.pagination-button.enabled {
  background-color: #90C1DF;
  color: #2B3467;
}

.pagination-button.disabled {
  background-color: #D8D8D8;
  color: #666666;
}

.pagination-button.enabled:hover {
  background-color: #2b3467;
  color: #ffffff;
}
