<div class="w-6/7 m-6 bg-[#90C1DF] shadow-lg rounded-xl pl-6 pb-6 mx-auto">
  <div class="px-6">
    <div class="flex flex-wrap justify-center">
      <div class="w-full flex justify-center">
        <div class="relative flex items-center -mt-16">
          <img
            src="{{ this.user.avatar }}"
            class="shadow-xl rounded-full border border-[#2b3467] border-4 max-w-[250px]"
          />
        </div>
      </div>

      <div class="w-full text-center">
        <h3 class="text-3xl text-[#2b3467] font-bold leading-normal mb-1">
          {{this.user.firstName}} {{this.user.lastName}}
        </h3>
      </div>
    </div>
    <div class="mt-2 py-6 text-center">
      <div class="flex flex-wrap justify-center">
        <div
          class="flex border bg-[#EB455F] border-[#2b3467] border-8 rounded-md mb-3 items-center justify-center"
        >
          <div
            class="-mt-1 flex flex-col items-center justify-center w-80 pb-5 title py-3 my-auto px-5 bg-[#EB455F] min-h-12 text-2xl font-semibold border-r border-r-[#2b3467] border-r-4"
          >
            <i class="fa-regular fa-star text-[#2b3467] mb-1 text-4xl"></i>
            <div class="text-[#2b3467]" >Score</div>
            <div class="text-white font-bold text-3xl">{{ totalScore !== null ? totalScore : '-' }}</div>
          </div>
          <div
            class="-mt-1 flex flex-col items-center justify-center w-80 pb-5 title py-3 my-auto px-5 bg-[#EB455F] min-h-12 text-2xl font-semibold border-l border-l-[#2b3467] border-l-4"
          >
            <i class="fa-solid fa-percent text-[#2b3467] mb-1 text-4xl"></i>
            <div class="text-[#2b3467]">Taux de réussite</div>
            <div class="text-white font-bold text-3xl">{{ successRate !== null ? successRate.toFixed(1) + '%' : '-%' }}</div>
          </div>
        </div>
      </div>
    </div>
    <div *ngFor="let entry of playedQuizzes | keyvalue">
      <app-played-quiz [quiz]="entry.key" [results]="entry.value"></app-played-quiz>
    </div>
  </div>
</div>
