<div
  (click)="onClick()"
  class="h-full scale-50 transform rounded-lg bg-[#2B3467] dark:bg-[#2B3467] shadow-md duration-300 hover:scale-60 hover:shadow-lg justify-center items-center"
>
  <img
    class="h-36 w-full"
    src="{{ quiz.image }}"
    alt="Quiz Image"
  />

  <div class="-mt-1 items-center justify-between bg-[#2B3467] dark:bg-[#2B3467]">
    <h2 class="text-xl font-medium dark:text-[#EB455F] text-[#EB455F]">
      {{ quiz.name }}
    </h2>
    <span class="-mt-5 text-base dark:text-white text-white"
      >Niveau:
      <span class="text-lg font-semibold text-white dark:text-white">{{
        quiz.difficulty
      }}</span></span
    >
    <div class="items-center">
      <span class="text-lg text-white mr-2">Questions: </span>
      <p class="text-lg font-semibold text-white dark:text-white">
        {{ quiz.questions.length }}
      </p>
      <p class="ml-auto text-base font-medium text-[#BAD7E9]">
        <i class="fa-solid mr-2 fa-clock"></i>{{ quiz.estimated_time }} mins
      </p>
    </div>
  </div>
</div>
