  <tr class="hover:bg-[#90C1DF]">
    <td class="px-6 py-4 text-xl">{{ resident.id }}</td>
    <th class="flex gap-3 px-6 py-4 font-normal text-[#2B3467] text-xl">
      <div class="relative h-14 w-14">
        <img class="h-full w-full rounded-full object-cover object-center" src={{user.avatar}} alt="" />
      </div>
      <div class="text-xl">
        <div class="font-medium text-gray-700">{{user.firstName}} {{user.lastName}}</div>
        <div class="text-[#2B3467]">{{user.userName}}</div>
      </div>
    </th>
  </tr>
