<form [formGroup]="profileForm" (ngSubmit)="updateProfile()" class="w-full max-w-sm mx-auto">
  <div class="mb-4">
    <label for="firstName" class="block text-[#2B3467] text-xl font-bold mb-2">Prénom</label>
    <input type="text" id="firstName" class="form-input p-4 mt-1 block w-full border-[#2B3467] border-2 rounded-md shadow-sm focus:ring-[#2B3467] focus:border-[#2B3467]" formControlName="firstName" required placeholder="Entrez votre prénom">
    <div *ngIf="profileForm.get('firstName').invalid && (profileForm.get('firstName').touched || submitted)" class="text-red-500 text-xl mt-1">
      Le prénom est requis
    </div>
  </div>

  <div class="mb-4">
    <label for="lastName" class="block text-[#2B3467] text-xl font-bold mb-2">Nom de famille</label>
    <input type="text" id="lastName" class="form-input p-4 mt-1 block w-full border-[#2B3467] border-2 rounded-md shadow-sm focus:ring-[#2B3467] focus:border-[#2B3467]" formControlName="lastName" required placeholder="Entrez votre nom de famille">
    <div *ngIf="profileForm.get('lastName').invalid && (profileForm.get('lastName').touched || submitted)" class="text-red-500 text-xl mt-1">
      Le nom de famille est requis
    </div>
  </div>

  <div class="mb-4">
    <label for="userName" class="block text-[#2B3467] text-xl font-bold mb-2">Nom d'utilisateur</label>
    <input type="text" id="userName" class="form-input p-4 mt-1 block w-full border-[#2B3467] border-2 rounded-md shadow-sm focus:ring-[#2B3467] focus:border-[#2B3467]" formControlName="userName" required placeholder="Entrez votre nom d'utilisateur">
    <div *ngIf="profileForm.get('userName').invalid && (profileForm.get('userName').touched || submitted)" class="text-red-500 text-xl mt-1">
      Le nom d'utilisateur est requis
    </div>
  </div>

  <div class="flex justify-center">
    <button type="submit" [disabled]="profileForm.invalid" class="block w-full max-w-xs mx-auto text-2xl bg-indigo-800 focus:bg-indigo-600 text-white rounded-lg px-5 py-5 font-semibold hover:bg-indigo-900 focus:outline-none focus:shadow-outline disabled:opacity-50">Mettre à jour le profil</button>
  </div>
</form>
