<div class="text-center pb-5">
  <button class="text-[#2B3467] bg-[#BAD7E9] border border-solid border-[#2B3467] hover:bg-[#2B3467] hover:text-white active:bg-[#2B3467] font-bold uppercase px-10 py-4 rounded-full outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
    <div class="inline-flex items-center justify-center h-20 w-20 rounded-full bg-white mr-2">
      <i class="fas fa-user-plus text-[#EB455F] text-3xl"></i>
    </div>
    <span class="text-2xl">Créer compte résident</span>
  </button>
</div>
<div class="mx-auto w-3/4 p-6 rounded-lg bg-gray-200">
  <div class="flex items-center">
    <div class="flex items-center justify-center rounded-tl-lg rounded-bl-lg border-r border-gray-200 bg-white p-5 text-2xl">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <input type="text" class="flex-1 bg-white pl-2 text-xl font-semibold outline-0 py-3 h-16" id="" style="width: 80%" placeholder="Entrez le nom du résident ou son numéro d'identification">
    <button class="bg-blue-500 p-4 rounded-tr-lg rounded-br-lg text-white font-semibold hover:bg-blue-800 transition-colors text-xl h-16" style="width: 20%">Chercher résident</button>
  </div>
</div>
