<div class="flex justify-center">
  <div class="w-2/3 max-w-2xl">
    <div class="text-center pb-5">
      <button class="flex items-center justify-start w-full h-36 text-white font-bold py-4 px-8 rounded-full bg-gradient-to-r from-[#4814ba] to-[#9cc0ff]" (click)="navigateAddResident()">
        <div class="h-28 w-28 flex items-center justify-center rounded-full bg-white">
          <i class="fa-solid fa-user-plus text-6xl text-[#EB455F]"></i>
        </div>
        <span class="text-4xl ml-4 flex-1 text-center text-[#2B3467]">Créer compte résident</span>
      </button>
    </div>
  </div>
</div>
<app-residents-list></app-residents-list>
