<div class="flex justify-center mt-16">
  <button
    class="flex items-center justify-start w-1/2 h-36 text-white font-bold py-4 px-8 rounded-full bg-gradient-to-r from-[#350e8a] to-[#9cc0ff]" (click)="navigateQuiz()">
    <div class="h-28 w-28 flex items-center justify-center rounded-full bg-white">
      <i class="fa-solid fa-list text-6xl text-[#EB455F]"></i>
    </div>
    <span class="text-5xl ml-4 flex-1 text-center text-[#2B3467]">Mes Quiz</span>
  </button>
</div>
<div class="flex justify-center mt-16">
  <button
    class="flex items-center justify-start w-1/2 h-36 text-white font-bold py-4 px-8 rounded-full bg-gradient-to-r from-[#350e8a] to-[#9cc0ff]" (click)="navigateTheme()">
    <div class="h-28 w-28 flex items-center justify-center rounded-full bg-white">
      <i class="fa-solid fa-icons text-6xl text-[#EB455F]"></i>
    </div>
    <span class="text-5xl ml-4 flex-1 text-center text-[#2B3467]">Thème</span>
  </button>
</div>
